<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bugggg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugggg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{55,0},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugggg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{110,0},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugggg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{165,0},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugggg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{220,0},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugggg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{275,0},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugggg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{330,0},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bugggg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{385,0},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bugs.png</string>
            <key>size</key>
            <string>{440,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb22039d94e5cf66e1816a204fddb523:87808218e07241e711dc35ce95fe87a2:93f172558d75ab835d769812943887e4$</string>
            <key>textureFileName</key>
            <string>bugs.png</string>
        </dict>
    </dict>
</plist>
